version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${DB_NAME:-timer_db}
      - POSTGRES_USER=${DB_USER:-timer_user}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-timer_pass}
    networks:
      - timer_network

  backend:
    build: .
    volumes:
      - static_volume:/app/staticfiles
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=False
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
      - CSRF_TRUSTED_ORIGINS=${CSRF_TRUSTED_ORIGINS}
      - DATABASE_URL=postgres://${DB_USER:-timer_user}:${DB_PASSWORD:-timer_pass}@db:5432/${DB_NAME:-timer_db}
    depends_on:
      - db
    networks:
      - timer_network

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    ports:
      - "127.0.0.1:8080:80"
    depends_on:
      - backend
    networks:
      - timer_network

networks:
  timer_network:
    driver: bridge

volumes:
  postgres_data:
  static_volume:
